/* CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT */

:root{

    --green:#009688;
    --grey:#D8DBD5;
    --light-blue:#8EDAFC;
    --light-grey:#EAEAEA;
    
}

/* UTILITIES */

.container{ 
    max-width: 1200px;
    margin: 0 auto;
}

/* GENERIC */

body{
    font-family: sans-serif;
    background-image: linear-gradient(var(--green) 15%, var(--grey) 15%);
    height: 100vh;
}

/* MAIN */

#board{
    height:700px;
    background-color: white;
}

.menu-bar{
   height: 70px;
   background-color: var(--light-grey);
   position: sticky;
}

/*  USER NAVBAR SECTION */


#active-notice{
   height: 80px;
   background-color: var(--light-blue);
}

#contact-chat-prew{
    height: 550px;
}

/* CHAT SECTION */

#chat-board{
    background-image: url(../img/mine.jpg);
    height: 560px;
}