/* CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT */

:root{

    --green:#009688;
    --light-green:#D5F9BA;
    --grey:#D8DBD5;
    --light-blue:#8EDAFC;
    --light-grey:#EAEAEA;
    
}

/* UTILITIES */

.container{ 
    max-width: 1200px;
    margin: 0 auto;
}

/* GENERIC */

body{
    font-family: sans-serif;
    background-image: linear-gradient(var(--green) 15%, var(--grey) 15%);
    height: 100vh;
    padding: 50px;
}

.avatar-img{
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin: 0 10px;
}

i{
    color:gray;
    font-size: 25px;
    padding: 0 5px;
    cursor: pointer;
}

/* MAIN */

#board{
    height:700px;
    background-color: white;
    border: 1px solid black;
}

.header-menu-bar{
   height: 70px;
   background-color: var(--light-grey);
   position: sticky;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;
}

/*  USER NAVBAR SECTION */


#active-notice{
   height: 80px;
   background-color: var(--light-blue);
}

#search-chat{
  background-color: var(--light-grey);
}

#active-notice i {
    color: var(--light-blue);
    padding: 12px 10px;
    border-radius: 50%;
    background-color: white;
}

#contact-chat-prew{
    height: 480px;
}

.selected{
    background-color: var(--light-grey);
}



/* CHAT SECTION */

#chat-board{
    background-image: url(../img/mine.jpg);
    height: 558px;
}

.message-box{
    width: 280px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    align-content: center;
    padding: 15px;
    position: relative;
}

.send-date{
    color: grey;
    font-size: 10px;
    position: absolute;
    bottom:0;
    left:175px;
}
.sent{
    background-color: var(--light-green) ;
    align-self: flex-end;
}

.received{
    background-color: white;
}

.footer-bar{
    height: 70px;
    background-color: var(--light-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
 }